body {
    margin: 30px 0 30px 0;
    display: inline;
}

ul {
    text-decoration: none;
    color:chartreuse;
}

h1 {
    text-align: center;
    color: blueviolet;
}

h2 {
    text-align: center;
    color: rgb(255, 106, 0);
}

#cat1 {
    position: relative;
    min-width: 70px;
    min-height: 200px;
    max-width: 200px;
    max-height: 400px;
}