body {
    margin: 30px 0 30px 0;
    display: inline;
}

ul {
    text-decoration: none;
    color:chartreuse;
}

h1 {
    text-align: center;
    color: blueviolet;
}

h2 {
    text-align: center;
    color: rgb(255, 106, 0);
}